<div class="row">

    <div class="col-sm-12">
        <div class="container">
            <div class="col-sm-7" style="margin-right: 10px;">
                <div class="card col-sm-12">
                    <div class="card-body">
                        <div class="video-player">
                            <video class="plays" controls>
                                <source [src]="" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card col-sm-12">
                    <div class="card-body">
                        <h3 class="title-list">Videos List</h3>
                        <div class="" *ngFor="let videoInfo of data">
                            <div class="video-list">
                                <img [src]="videoInfo.thumbnailUrl" class="thumbnail-list">
                                <div class="video-info">
                                    <h3 class="video-title">{{videoInfo.title}}</h3>
                                    <p class="video-author">{{videoInfo.author}}</p>
                                    <p class="video-views">{{videoInfo.views}} Views</p>
                                    <p class="video-uploadTime">{{videoInfo.uploadTime}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>